<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express-template</title>
</head>
<body>
  <p>i hope you liked the template :)</p>
  <p>
    if there is any suggestion, open a <a href="https://github.com/ceicc/express-template/issue/new" target="_blank" rel="noopener noreferrer">new issue</a>
    or <a href="https://github.com/ceicc/express-template/fork" target="_blank" rel="noopener noreferrer">fork me</a>
  </p>
</body>
</html>